@page "/Todolist"
@using TodolistBlazorWasm.Components;

@inject IConfiguration Configuration

<h3>TodoList 1</h3>

@if (Tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        @*"OnSeach" là eventCallback đc đăng ký bên TaskSearch.razor và "SeachTask" là sự kiện để th cha bắt đc TaskListSearch*@
        <TaskSearch OnSearch="SearchTask"></TaskSearch> @*muốn sau khi bấm nút search thì có event bắn ra,  event này ở bên TaskSearch Component để biết cho nó update task*@
    </div>
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><PriorityLabel Priority="item.Priority"></PriorityLabel></td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreateDate.ToString(Configuration["DateTimeFormat"])</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskDetails/@item.ID" class="btn btn-primary">Detail</a>
                            <a href="/taskEdit/@item.ID" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" @onclick="()=>OnDeleteTask(item.ID)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <Confirmation ConfirmationMessage="Are you sure to delete?"
                  ConfirmationTitle="Delete Task"
                  @ref="DeleteConfirmation" 
                  ConfirmationChanged="OnConfirmDeleteTask">
    </Confirmation>
}



